/BMPtoTGA/ipch
/BMPtoTGA/BMPtoTGA.opensdf
/BMPtoTGA/BMPtoTGA.sdf
/BMPtoTGA/BMPtoTGA.suo
/BMPtoTGA/BMPtoTGA.vcxproj.filters
/BMPtoTGA/BMPtoTGA.vcxproj.user
/BMPtoTGA/Debug
/BMPtoTGA/test.bmp
/BMPtoTGA/test_out.bmp
/BMPtoTGA/test_out.tga
